{% extends 'recipes/base.html' %}

{% block title %}Recipe List{% endblock %}

{% block content %}
    <div class="container1">
        {% for recipe in recipes %}
            <div class="recipe-card">
                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe-image">
                <div class="recipe-info">
                    <h3>{{ recipe.title }}</h3>
                    <p class="description">{{ recipe.description|truncatechars:100 }}</p>
                    <a href="{% url 'recipe_detail' recipe.pk %}">View Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}





    


