{% extends 'recipes/base.html' %}

{% block title %}Edit Recipe{% endblock %}

{% block content %}

<div class="recipe-create-container">
    <h2>Edit Recipe</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="submit-button">Save Recipe</button>
        <div class="form-section">
            <h3>Basic Information</h3>
            {{ form.as_p }}
        </div>

        <div class="form-section">
            <h3>Recipe Ingredients</h3>
            {{ ingredient_formset.management_form }}
            <div id="ingredient-formset" class="formset">
                {% for form in ingredient_formset %}
                    <div class="ingredient-form formset-item">
                        {{ form.as_p }}
                    </div>
                {% endfor %}
            </div>
            <button type="button" id="add-ingredient" class="add-button">Add Ingredient</button>
        </div>

        <div class="form-section">
            <h3>Recipe Steps</h3>
            {{ step_formset.management_form }}
            <div id="step-formset" class="formset">
                {% for form in step_formset %}
                    <div class="step-form formset-item">
                        {{ form.as_p }}
                    </div>
                {% endfor %}
            </div>
            <button type="button" id="add-step" class="add-button">Add Step</button>
        </div>

        <button type="submit" class="submit-button">Save Recipe</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#add-ingredient').click(function() {
            var ingredientFormset = $('#ingredient-formset');
            var lastIngredientForm = ingredientFormset.find('.formset-item').last();
            var newIngredientForm = lastIngredientForm.clone(true);
            newIngredientForm.find('input, select').val('');
            ingredientFormset.append(newIngredientForm);
        });

        $('#add-step').click(function() {
            var stepFormset = $('#step-formset');
            var lastStepForm = stepFormset.find('.formset-item').last();
            var newStepForm = lastStepForm.clone(true);
            newStepForm.find('input, textarea').val('');
            stepFormset.append(newStepForm);
        });
    });
</script>
{% endblock %}